body {
    background-color: white;
    color: #1f2937;
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.infoblock {
    padding: 30px;
    max-width: 400px;
}

.subtitle {
    font-size: 48px;
    font-weight: extra-bold;
    color: #e5e7eb;
}

.subtext {
    font-size: 18px;
}

.banner {
    background-color: #e5e7eb;
    height: 200px;
    width: 400px;
}


button, .calltoaction {
    background-color: #3882f6;
    color: #f9faf8;
}

button {
    border-radius: 8px;
}

ul {
    list-style-type: none;
}

li {

}

.inspoquote {
    background-color: #e5e7eb;
    padding: 75px;
    text-align: center;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    max-width: 70%;
}

.inspoattr {
    font-weight: bolder;
}

.imgbox {
    border-radius: 16px;
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    overflow: hidden;
}